doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Your Cart
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        style
            
            include ../public/header.css
            include ../public/product.css
            include ../public/cart.css
            include ../public/footer.css
    header
        include ../partials/header
    body 


        if (totCart === null)
            -totCart = 0
        #cartStatus= "Items in Cart: " + totCart


        h3#cartHeading Shopping Cart

        #cart-info
            #cart-items 
                if (products != null)
                    -let counter = 0
                    -let tot = products.length
                    each pd in products 
                        -let theID = "amount" + pd.prod
                        -counter++
                        if (counter != tot)
                            .each-prod
                                .deleteButContainer
                                    button.deleteButton(value=pd.prod onclick="deleteFromCart(this.value)") &times;
                                <a href="/workbooks/#{pd.prod}"><img class="pImg" src=#{pd.pic} alt=""></a>
                                .titlePrice
                                    <a class="pTitle" href="/workbooks/#{pd.prod}"><p class="pTitle">#{pd.title}</p></a>
                                    p.pPrice= "$" + pd.price + " each"
                                .itemNumController
                                    .minusItem(class="unselectable" onclick="updateCart(this.id, -1)" id=pd.prod) −
                                    .valueItem(id=theID)= pd.amount
                                    .plusItem(onclick="updateCart(this.id, 1)" class="unselectable" id=pd.prod) +
                                p.pTotal= "$" + pd.total
                        else 
                            .each-prod-last
                                .deleteButContainer
                                    button.deleteButton(value=pd.prod onclick="deleteFromCart(this.value)") &times;
                                <a href="/workbooks/#{pd.prod}"><img class="pImg" src=#{pd.pic} alt=""></a>
                                .titlePrice
                                    <a class="pTitle" href="/workbooks/#{pd.prod}"><p class="pTitle">#{pd.title}</p></a>
                                    p.pPrice= "$" + pd.price + " each"
                                .itemNumController
                                    .minusItem(onclick="updateCart(this.id, -1)" class="unselectable" id=pd.prod) −
                                    .valueItem(id=theID)= pd.amount
                                    .plusItem(onclick="updateCart(this.id, 1)" class="unselectable" id=pd.prod) +
                                p.pTotal= "$" + pd.total
            #total-discount    
                #total
                    h4#total-heading The Total Amount:  
                    #subTotDiv                    
                        p#sub-total-h= "SUBTOTAL"
                        p= "$" + totalAll
                    #off
                    #totDiv
                        p#total-h= "TOTAL"
                        p= "$" + totalAll
                    button#toCheckoutBut Proceed To Checkout

                #coupon 
                    input#promoInput(type="text" placeholder="Promo code")
                    button#promoBut Apply
    footer
        include ../partials/footer

    script
        include ../public/product-cart.js
        include ../public/prevent-up.js



            
