doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Workbooks
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" type='text/css'>
        style
            
            include ../public/index.css
            include ../public/mathWSGeneral.css
            
            include ../public/products.css
            include ../public/product.css
            
    body 
        include ../partials/header
        #cartStatus Items in Cart: 0 
        // the search bar
        input#searchInput(placeholder="Search for workbooks")
        input#subject(placeholder="Subject")
        input#grade(placeholder="Grade")

        button#searchWB-But(onclick="getWBs()") Search

        #productsDisplay 
            if (workbooks != null)
                #products 
                    each wb in workbooks
                        .workbook 
                            <a href="/workbooks/#{wb._id}"><img class="productImg" src=#{wb.PreviewPics[0]} alt=""></a>
                            a.wbTitle(href="/workbooks/" + wb._id)= wb.Title
                            .info-prod
                                 
                                .text-info
                                    p.wbPrice= "$" + wb.Price
                                    //pre #{wb.ShortDescription}
                                button.add-cart-but(onclick="addToCart(this.value, 1)" value=wb._id) Add to Cart
                                     

                            


                    

    
    script 
        include ../public/gettingWorkbooks.js
        include ../public/product-cart.js
