doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= product.Title
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        style
            
            include ../public/header.css
            include ../public/product.css
            include ../public/workbook-searchBar.css
    body 
        include ../partials/header

        if (totCart === null)
            -totCart = 0
        #cartStatus= "Items in Cart: " + totCart

        #searchBarWB
            include ../partials/workbook-searchBar

        #productContainer
            -let id = product._id
            #leftSide 
                #prodImgContainer
                    img#productImage(src=product.PreviewPics[0], alt="Workbook Title Page Image")
                #price= "$" + product.Price
                #addCart
                    #itemNumController
                        #minusItem(onclick="decreaseNumValue()" class="unselectable") −
                        #valueItem 1
                        #plusItem(onclick="increaseNumValue()" class="unselectable") +
                    button#addCartButton(onclick="updateCartFromProductPage(this.value)" value=product._id) Add to Cart
                    button(class="fa fa-cart-plus" id="addCartButtonIcon" onclick="updateCartFromProductPage(this.value)" value=id)
                
                if (product.PreviewPics.length > 0)
                    h6#sampleTitle Sample Pages
                    -let counter = 1
                    #samples 
                        each pic in product.PreviewPics 
                            a(class="sample" href=pic target="_blank")= "Sample " + counter
                            -counter++
                            




            #rightSide    
                h2#productTitle= product.Title 
                pre= product.Description
            


        #familiar   
            // add the real coding later
        
    script 
        include ../public/gettingWorkbooks.js
        include ../public/product-cart.js
        
