doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Worksheet Types
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
        style
            include ../public/header.css
            
            include ../public/worksheetTypes.css
            include ../public/navButtons.css
            include ../public/footer.css
    body 
        include ../partials/header

        br
        include ../partials/searchBar
        br
        br

        if (worksheets === NULL)
            p There are currently no worksheets for this grade and section 

        else 
            each ws in worksheets 
                a(href="/worksheets/" + ws._id).aWS 
                    img(src=ws.PreviewPic, alt="worksheet preview image")
                    .wsText 
                        h4= ws.Title
                        p.wsDescript= ws.Description 
            

            #navButtons
                if current > 1
                    - let url = "/worksheets?page=" + (current-1)
                    - if(qstring.length > 0){ url += "&" + qstring; }
                    a(href=url)#prevBut Previous
                    a(class="fa fa-arrow-left" id="prevButIcon" href=url)
                    |
                else 
                    a#prevButUnClick Previous
                    a(class="fa fa-arrow-left" id="prevButUnClickIcon")
                    
                if more
                    - url = "/worksheets?page=" + (current+1)
                    - if(qstring.length > 0){ url += "&" + qstring; }
                    a(href=url)#nextBut Next
                    a(class="fa fa-arrow-right" id="nextButIcon" href=url)
        
        include ../partials/footer
        
        script 
            include ../public/gettingWorksheets.js

           



